#Img1{
  height: auto;
  width: 100%;

}
.Line_breaker{
  height: 200px;
  colour: blue;
}
#Imgf{
  height: 20px;
  width: 20px;
}

#Img2{
  height: auto;
  width: 100%;
}

#Img3{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
 #Img4{
   position: absolute;
   left: 1061px;
   height: auto;
   width: 239px;


}
#Img5{
  position: absolute;
  height: 30px;
  width: 30px;
  border-left: 30px;
}

h1{
  font-family: 'Aldrich';font-size: 22px;
  color: white;
}
h2{
  font-weight: bolder;
  font-size: 50px;
  color: white;
}
 p{
   font-size: 20px;
   color: white;
 }
#MyDiv{
  background-color: #00A7E0;
  height: 0.195%;
  width: 100%;

}
.ContactDiv_Main{
  background-color: #00A7E0;
}
.Gmail{
  font-family: 'Aldrich';font-size: 22px;
  color: white;
  position: relative;
  left: 100px
}
.Logo{
  text-align: center;
  position: relative;
  top: -100px;
}

.Img_links{
  width: auto;
  position: absolute;
  right: 600px;
  background-color: #00A7E0;
}
#MyDiv2{
  background-color:black;
  height: 0.226%;
  width: 100%;
  font-family: 'Aldrich';font-size: 22px;

}
#MyDiv4{
  background-color: #00A7E0;
  font-family: 'Aldrich';font-size: 22px;
}
#MyDiv3{
  width:600px;
  height: 153px;
  position: relative;
  bottom: 100px;
}



body {
    font-family: 'Allan';font-size: 22px;

}
.Paragraph{
  font-family: 'Abel';font-size: 22px;
}

.Header{
  color: #32D0D1;
  font-size: 60px;
}
