#Img1{
  height: 523px;
  width: 1500px;
}
.Line_breaker{
  height: 200px;
  colour: blue;
}

#Img2{
  height: 293px;
  width: 1500px;

}

#Img3{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}



.MyDiv{
  background-color: #00A7E0;
}
body {
    font-family: 'Allan';font-size: 22px;

}
.Paragraph{
  font-family: 'Abel';font-size: 22px;
}

.Header{
  color: #32D0D1;
  font-size: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #008CBA;
  position: fixed;
  top: 0;
  width: 100%;
  font: Comic Sans MS;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #2a0080;
}
