#Img1{
  height: auto;
  width: 100%;

}
.Line_breaker{
  height: 200px;
  colour: blue;
}

#Img2{
  height: auto;
  width: 100%;
}

#Img3{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
 #Img4{
   position: absolute;
   left: 1061px;

}
#Img5{
  position: absolute;
  height: 30px;
  width: 30px;
  border-left: 30px;
}

h1{
  font-family: 'Aldrich';font-size: 22px;
  color: white;

}
 p{
   font-size: 20px;
   color: white;
 }
#MyDiv{
  background-color: #00A7E0;
  height: 0.195%;
  width: 100%;

}

#MyDiv2{
  background-color:black;
  height: 0.226%;
  width: 100%;
  font-family: 'Aldrich';font-size: 22px;

}
#MyDiv4{
  background-color: #00A7E0;
  font-family: 'Aldrich';font-size: 22px;
}

body {
    font-family: 'Allan';font-size: 22px;

}
.Paragraph{
  font-family: 'Abel';font-size: 22px;
}

.Header{
  color: #32D0D1;
  font-size: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #008CBA;
  position: fixed;
  top: 0;
  width: 100%;
  font: Comic Sans MS;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #2a0080;
}
